.legal {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: justify;
  text-justify: distribute-all-lines;
  padding: 1.5rem;
}

p {
  font-size: 0.7rem;
  padding-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  border-bottom: 1px solid #444444;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

dl {
  dt {
    font-weight: bold;
    display: inline-block;
    width: 40%;
  }
  dd {
    display: inline-block;
    width: 60%;
  }
}

ol {
  list-style-type: decimal;
  padding-left: 2rem;
}

ul {
  list-style-type: disc;
  padding-left: 2rem;
}
