//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&family=Ubuntu+Condensed&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  height: 100%;
  font-family: 'Signika Negative', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

html {
  background-color: #f1f1f1;
  color: #444444;
}

a {
  text-decoration: none;
  color: #0080bc;

  &:hover {
    color: #444444;
  }
}

input{
  border: none;
  outline: none;
  background-color: #f1f1f1;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

/*----------------------------------------------------------------------------*/
/*---                                                                      ---*/
/*---                            NEUMORPHISM                               ---*/
/*---                                                                      ---*/
/*----------------------------------------------------------------------------*/
.neumorphism {
  background: #f1f1f1;
  box-shadow: 5px 5px 10px #cacaca,
              -5px -5px 10px #ffffff;
}

.neumorphism-hover:hover {
  box-shadow: inset 5px 5px 10px #cacaca,
              inset -5px -5px 10px #ffffff;
}

.neumorphism-inverse {
  box-shadow: inset 5px 5px 10px #cacaca,
              inset -5px -5px 10px #ffffff;
}

.neumorphism-inverse-left {
  box-shadow: inset 5px 5px 10px #cacaca,
              inset 5px -5px 10px #ffffff;
}

/*----------------------------------------------------------------------------*/
/*---                                                                      ---*/
/*---                            SPECIAL ELEMENTS                          ---*/
/*---                                                                      ---*/
/*----------------------------------------------------------------------------*/
.expand-capsule {

  position: relative;
  width: auto;
  transition: width 0.5s;
  border-radius: 100%;
  padding: 0.5rem;

  &:hover {
    width: 25rem;
    transition: width 1.5s;
    border-radius: 5rem;

    fa-icon {
      opacity: 0.3;
    }
  }

  .expand-capsule-text {
    opacity: 0;
    transition: opacity 0.5s;
    display: none;
    position: absolute;
    left: 2.5rem;
  }

  &:hover .expand-capsule-text  {
    opacity: 1;
    transition: opacity 0.5s;
    display: inline-block;
    transition: display 0.1s;
  }

}

.capsule {
  border-radius: 5rem;
  padding: 0.5rem;
}

.capsule-circle {
  border-radius: 100%;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.capsule-circle-lg {
  border-radius: 100%;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.capsule-radius-left {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  padding: 0.5rem;
}

.capsule-radius-right {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.overflow-hidden {
  overflow: hidden;
}

.image-button {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 2rem;
  width: 15rem;
  background-color: #f1f1f15b;
  border: 0.3rem solid #f1f1f1;
  border-radius: 1rem;
  color: #f1f1f1;
  box-shadow: 1px 1px 5px #f1f1f1,
              -1px -1px 5px #f1f1f1;
  transition: transform 0.5s;
}

.image-button:hover {
  box-shadow: 1px 1px 10px #f1f1f1,
              -1px -1px 10px #f1f1f1;
  transform: scale(1.1);
  transition: transform 0.5s;
}

/*----------------------------------------------------------------------------*/
/*---                                                                      ---*/
/*---                             CUSTOM  SCROLL                           ---*/
/*---                                                                      ---*/
/*----------------------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 10vh 0;
  border-radius: 5rem;
  border: 1px solid #444444;
  box-shadow: inset 5px 5px 10px #cacaca,
              inset -5px -5px 10px #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0080bc;
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444444;
}
