/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  background-color: #e7e7e7;
  color: #444444;
}

a {
  text-decoration: none;
  color: #444444;
}


/*----------------------------------------------------------------------------*/
/*---                                                                      ---*/
/*---                            NEUMORPHISM                               ---*/
/*---                                                                      ---*/
/*----------------------------------------------------------------------------*/
.neumorphism {
  background: #e7e7e7;
  box-shadow: 5px 5px 10px #bebebe,
              -5px -5px 10px #ffffff;
}

.neumorphism-hover:hover {
  box-shadow: inset 5px 5px 10px #bebebe,
              inset -5px -5px 10px #ffffff;
}

/*----------------------------------------------------------------------------*/
/*---                                                                      ---*/
/*---                            SPECIAL ELEMENTS                          ---*/
/*---                                                                      ---*/
/*----------------------------------------------------------------------------*/
.expand-capsule {
  position: relative;
  width: 1rem;
  transition: width 0.5s;
  border-radius: 100%;
  padding: 0.5rem;
}
.expand-capsule:hover {
  width: 25rem;
  transition: width 1.5s;
  border-radius: 5rem;
}

.expand-capsule .expand-capsule-text {
  opacity: 0;
  transition: opacity 0.5s;
  display: none;
  position: absolute;
  left: 2.5rem;
}

.expand-capsule:hover .expand-capsule-text  {
  opacity: 1;
  transition: opacity 0.5s;
  display: inline-block;
  transition: display 0.1s;
}

.capsule {
  border-radius: 5rem;
  padding: 0.5rem;
}

.capsule-circle {
  border-radius: 100%;
  padding: 0.5rem;
}
