.product-quantity {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #0080bc;
}

.product-quantity:focus {
  outline: none;
}
