<li>
  <a (click)="selectCategory()"
    class="category-item"
  >
    <fa-icon [icon]="iconToShow"
    ></fa-icon>

    {{ item.title }}
  </a>

  <ul *ngIf="item.children"
    [ngStyle]="{'margin-left.rem': marginExp}"
    [hidden]="!item.showChildren"
  >
    <app-product-category-node
      *ngFor="let categoryItem of item.children; let index = index"
      [item]="categoryItem"
      [depth]="depth + 10"
      (selectedCategory)="setSelectedCategory($event)"
    ></app-product-category-node>
  </ul>
</li>
