<article>
  <section class="product-detail neumorphism flex-col">
    <header>
      <h1
        *ngIf="product?.name"
        class="product-detail-name"
      >
        {{product?.name}}
      </h1>
    </header>

    <picture *ngIf="product?.image; else defaultProudctImage">
      <source media="(min-width: 1023px)" srcset="../../../assets/images/banners/{{product?.image}}_1440.jpg">
      <source media="(min-width: 767px)" srcset="../../../assets/images/banners/{{product?.image}}_768.jpg">
      <source media="(min-width: 767px)" srcset="../../../assets/images/banners/{{product?.image}}_425.jpg">
      <img src="../../../assets/images/banners/{{product?.image}}_425.jpg" class="product-detail-image neumorphism-inverse"/>
    </picture>
    <ng-template #defaultProudctImage>
      <picture>
        <source media="(min-width: 1023px)" srcset="../../../assets/images/banners/{{productDetailDefaultImage}}_1440.jpg">
        <source media="(min-width: 767px)" srcset="../../../assets/images/banners/{{productDetailDefaultImage}}_768.jpg">
        <source media="(min-width: 767px)" srcset="../../../assets/images/banners/{{productDetailDefaultImage}}_425.jpg">
        <img src="../../../assets/images/banners/{{productDetailDefaultImage}}_425.jpg" class="product-detail-image neumorphism-inverse"/>
      </picture>
    </ng-template>


    <div class="product-detail-info">
      <dl>
        <div *ngIf="product?.reference" class="product-detail-info-row">
          <dt>
            Ref
          </dt>
          <dd class="neumorphism-inverse">
            {{ product?.reference }}
          </dd>
        </div>

        <div *ngIf="product?.shortDescription" class="product-detail-info-row">
          <dt>
            Detalle
          </dt>
          <dd class="neumorphism-inverse">
            {{ product?.shortDescription }}
          </dd>
        </div>

        <div *ngIf="product?.rate" class="product-detail-info-row">
          <dt>
            Valoración
          </dt>
          <dd class="neumorphism-inverse text-align-center">
            <app-rate-product [rate]="product?.rate!"
              [editable]="false"
            ></app-rate-product>
          </dd>
        </div>

        <div *ngIf="product?.price" class="product-detail-info-row">
          <dt>
            Precio
          </dt>
          <dd class="neumorphism-inverse text-align-center">
            <p class="product-detail-price">
              {{ productDetail.price *  quantitySelected}}
            </p>
            <fa-icon [icon]="currencyIcon" [classes]="['fa-md']" class="product-detail-currency"></fa-icon>
          </dd>
        </div>

        <div class="product-detail-info-row">
          <dt>
            Seleccione una cantidad
          </dt>
          <dd class="neumorphism-inverse">
            <app-quantity-selector
              (quantitySelectedEvent)="getSelectedQuantity($event)"
            ></app-quantity-selector>
          </dd>
        </div>
      </dl>
    </div>

    <app-add-to-cart-button
      [productId]="product?.id!"
      [quantitySelected]="quantitySelected"
    ></app-add-to-cart-button>

  </section>

  <app-product-reviews
    [productId]="productDetail.id"
  ></app-product-reviews>

  <app-product-slider
    [productSliderConfig]="productSliderConfig"
    [products]="products"
  ></app-product-slider>

  <app-product-slider
    [productSliderConfig]="productSliderConfig2"
    [products]="products"
  ></app-product-slider>
</article>
