<nav class="navbar">
  <ul class="navbar-list flex-row">

    <li class="neumorphism neumorphism-hover capsule-circle">
      <a [href]=""
        (click)="toggleSideMenu()"
      >
        <fa-icon [icon]="menuIcon" [classes]="['fa-2x']"></fa-icon>
      </a>
    </li>

    <li class="neumorphism neumorphism-hover capsule-circle">
      <a [href]="">
        <fa-icon [icon]="userIcon" [classes]="['fa-lg']"></fa-icon>
      </a>
    </li>

    <li class="neumorphism neumorphism-hover capsule-circle">
      <a [href]="">
        <fa-icon [icon]="cartIcon" [classes]="['fa-lg']"></fa-icon>
      </a>
    </li>

  </ul>
</nav>
