<article class="filters"
>
  <header class="filters-header flex-row">
    <div (click)="toggleFilters(0)"
      class="filters-title"
    >
      <div>
        <p>FILTROS</p>
      </div>
    </div>
    <div *ngIf="!showFilters[0]; else filterErase">
      <fa-icon [icon]="filterIcon" [classes]="['fa-md']"></fa-icon>
    </div>
    <ng-template #filterErase>
      <fa-icon [icon]="filterEraseIcon" [classes]="['fa-md']"
        (click)="toggleFilters(-1)"
      ></fa-icon>
    </ng-template>

  </header>
  <section *ngIf="showFilters[0]">
    <section *ngFor="let filter of filters; let i = index"
      class="filter-section"
    >
      <p class="filters-header filter-title text-align-center"
        (click)="toggleFilters(i + 1)"
      >
        {{ filter }}
      </p>
      <div *ngIf="showFilters[i + 1]">
        <app-product-categories
          *ngIf="i === 0"
          (selectedCategory)="filterCategory($event)"
        ></app-product-categories>
        <div
          *ngIf="i === 1"
        >
          <app-product-brands
            (selectedBrand)="filterBrand($event)"
          >
          </app-product-brands>
        </div>
        <div
          *ngIf="i === 2"
        >
        </div>
      </div>
    </section>
  </section>
</article>
<!--
  <nav>
    <ul id="categoryBreadcrumb"
      class="flex-row justify-content-start"
    >
      <li *ngFor="let category of selectedCategories; let i = index ">
        {{ category.title }}
        <span *ngIf="i !== ( selectedCategories.length - 1 )">
          >>
        </span>
      </li>
    </ul>
  </nav>
-->
