.product-card {
  position: relative;
  width: 15rem;
  height: 20rem;
  border-radius: 2rem;
  transition: transform 0.5s;
  text-align: center;
  flex-wrap: nowrap;

  &:hover{
    transform: scale(1.1);
    transition: transform 0.5s;

    .product-card-description{
      opacity: 1;
      transition: opacity 1s;
    }

    .product-card-price-currency {
      display: none;
    }
  }
}

.product-card-image-container {

  .product-card-image {
    border-radius: 1.5rem;
    padding: 0.5rem;
    width: 15rem;
    height: 13rem;
    object-fit: contain;
  }
}

.product-card-info {
  height: 50%;
  width: 100%;
  padding: 0.5rem;
  position: relative;

  .product-card-name{
    font-size: 1.2rem;
    font-weight: bold;
  }

  .product-card-description{
    font-size: 1rem;
    text-align: justify;
    text-justify: distribute;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .product-card-price-currency {
    margin-top: 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    display: inline-block;

    .product-card-price {
      font-size: 1.5rem;
      display: inline-block;
    }
  }
}
