.product-card {
  position: relative;
  width: 13rem;
  height: 20rem;
  margin: 2rem;
  border-radius: 2rem;
  transition: transform 0.5s;
  padding: 0rem;
  padding-bottom: 0.5rem;
  text-align: center;

  &:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
  }
}

.product-card-image-container {
  height: 50%;

  .product-card-image {
    border-radius: 1.5rem;
    padding: 1rem;
    width: 90%;
    height: 100%;
    object-fit: contain;
  }

}

.product-card-info {
  height: 50%;
  padding: 0.5rem;
  position: relative;

  .product-card-name{
    font-size: 1.5rem;
    font-weight: bold;
    height: 50%;
  }

  .product-card-price-currency {
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    width: 60%;

    .product-card-description{
      font-size: 1rem;
      height: 30%;
    }

    .product-card-price {
      font-size: 2.2rem;
      height: 30%;
    }
  }
}
